body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to bottom, #3498db, #2c3e50);
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cabecalho {
    text-align: center;
}

h2 {
    font-family: Arial, sans-serif;
    font-size: 2em;
    margin-bottom: 10px;
}

.link {
    color: #fff;
    margin: 3px;
    text-decoration: none;
    background-color: #27ae60;
    padding: 10px 15px;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.link:hover {
    background-color: #218c54;
}

.cabecalho2 {
    text-align: center;
}

.cabecalho3 {
    text-align: center;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}